# KiCad 8 paths for macOS (Default)
KICAD8_SYMBOL_DIR=/Applications/KiCad/KiCad.app/Contents/SharedSupport/symbols/
KICAD8_FOOTPRINT_DIR=/Applications/KiCad/KiCad.app/Contents/SharedSupport/footprints/

# For Linux (Typical)
# KICAD8_SYMBOL_DIR=/usr/share/kicad/symbols/
# KICAD8_FOOTPRINT_DIR=/usr/share/kicad/footprints/
