*.a78
*.bin
*.yminc
build/
bin/
.vscode
.idea
*.chp
*.fus
*.jed
*.pin
*.abs
*.pdf
*.sr
*.sim
.testing/
.DS_Store
.tscircuit
pcb/gerbers/
pcb/gerbers.zip
pcb/KiCad/
pcb/index-drc.rpt
pcb/node_modules/
pcb/dist/
pcb/bun.lock
